.App {
  font-family: 'Poppins', sans-serif;
  background-color: #EDF7FA;
}

.common-style {
  padding: 62px 10px 0px 10px;
  /* background-color: seagreen; */
  /* border: 5px dotted yellow; */
  /* background-color: #EDFFEC; */
}

.home-page {
  padding: 0px 10px 0px 10px;
  /* background-color: #EDFFEC; */
  /* border: 5px dotted yellow; */
  /* background-color: tomato; */
}

/* navbar */
.nav-link {
  transition: 0.5s;
  cursor: pointer;
}

.nav-link:hover {
  color: yellow;
  transform: translateX(2px);
}

.active {
  transition: 0.5s;
  color: yellow;
}


/* footer */
.social-icon {
  color: white;
  transition: 0.5s;
}

.social-icon:hover {
  color: yellow;
  transform: translateX(2px);
}