.App {
  font-family: "Poppins", sans-serif;
  background-color: #edf7fa;
}

.second-font {
  font-family: "Amaranth", sans-serif;
}

/* input field and textarea */
input {
  font-family: "Amaranth", sans-serif;
}

textarea {
  font-family: "Amaranth", sans-serif;
}

/* ----------- navbar ------------- */
.nav-link {
  transition: 0.5s;
  cursor: pointer;
}

.nav-link:hover {
  color: yellow;
  transform: translateX(2px);
}

.active {
  transition: 0.5s;
  color: yellow;
  font-family: "Amaranth", sans-serif;
}

/* -------------------------------- */

/* ---------- footer -----------*/
.social-icon {
  color: white;
  transition: 0.5s;
}

.social-icon:hover {
  color: yellow;
  transform: translateX(2px);
}

/* --------------------------- */

/* review */
.StarPicker.enlargeStar .DefaultStarComponent {
  transition: transform 0.2s ease-in-out, color 0.4s;
}

.StarPicker.enlargeStar .DefaultStarComponent.selected {
  text-shadow: rgb(173, 140, 6) 1px 1px 1px;
  transform: scale(1.2);
}
